[server]
url = https://app.obico.io
# auth_token: <deixe o comando de link configurar isso>
# sentry_opt: out ou in

[moonraker]
host = 127.0.0.1
port = 7125
# api_key = GSfnyqzSq8HpmOxYADcru4pBS7vrK7hBkDGoNgavmos

[webcam]
disable_video_streaming = False

[janus]
# URL WebSocket para o Janus
url = ws://umbrel.tailc9398a.ts.net:8188
# URL HTTP para o Janus
http_url = http://janus-external:8088/janus
