[server]
url = https://app.obico.io
# auth_token: <deixe o comando de link configurar isso>
# sentry_opt: out ou in

[moonraker]
host = 127.0.0.1
port = 7125
# api_key = <pegue um ou configure trusted hosts no moonraker>

[webcam]
disable_video_streaming = False
