[server]
url = https://obico.codenameraziel.com
# auth_token: <deixe o comando de link configurar isso>
# sentry_opt: out ou in

[moonraker]
host = 127.0.0.1
port = 7125
# api_key = <sua_api_key_do_moonraker>

[webcam]
disable_video_streaming = False

[janus]
# URL WebSocket para o Janus via Cloudflare Tunnel
url = wss://janus.codenameraziel.com:8188

# URL HTTP para o Janus via Cloudflare Tunnel
http_url = https://janus.codenameraziel.com/janus
