version: '3.7'

services:
  db:
    image: postgres:14
    container_name: obico-db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=obico
      - POSTGRES_PASSWORD=obico
      - POSTGRES_DB=obico
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - internal_net

  redis:
    image: redis:7.2-alpine
    container_name: obico-redis
    restart: unless-stopped
    networks:
      - internal_net

  obico-server:
    build: ./ghcr.io/imagegenius/obico:latest
    container_name: obico-server
    restart: unless-stopped
    environment:
      - DJANGO_ALLOWED_HOSTS=192.168.100.105,umbrel,umbrel.tailc9398a.ts.net,localhost,127.0.0.1
      - DATABASE_URL=postgres://obico:obico@db:5432/obico
      - REDIS_URL=redis://redis:6379
      - SECRET_KEY=2139cb7e6814e5ad7e145338964031acf66abce3d1f7f386e2cdd2cd4a8b42404599de602fd7646f2233231dba70b6969821
      #- OBICO_AUTH_TOKEN=655105
      #- MOONRAKER_URL=http://moonraker:7125
      - VIDEO_STREAMING_BACKEND=janus
      - JANUS_URL=wss://umbrel.tailc9398a.ts.net/ws
      - JANUS_HTTP_URL=https://umbrel.tailc9398a.ts.net/janus
      - DISABLE_VIDEO_STREAMING=False
      - ONNXRUNTIME_DISABLE_GPU=1
      - DEBUG=True
      - SITE_ID=1
      - HOST_IP=192.168.100.105:3334
    ports:
      - "3334:3334"   # porta principal do Obico
      - "8000:8000"   # painel admin + WebSocket via Daphne
    depends_on:
      - db
      - redis
    networks:
      - internal_net

volumes:
  db_data: {}

networks:
  internal_net:
    driver: bridge
