version: "3.7"

services:
  obico:
    build: .
    container_name: obico-server
    ports:
      - "3334:3334"
    environment:
      - DJANGO_SUPERUSER_EMAIL=root@example.com
      - DJANGO_SUPERUSER_PASSWORD=supersecret
      - HOST_IP=192.168.100.105:3334,umbrel.tailc9398a.ts.net:3334
      - REDIS_URL=redis://redis:6379
      - DATABASE_URL=postgres://obico:obico@db:5432/obico
      - ONNXRUNTIME_DISABLE_GPU=1   # força CPU, evita erro de CUDA
      - VIDEO_STREAMING_BACKEND=janus
      - JANUS_URL=wss://umbrel.tailc9398a.ts.net/ws
      - JANUS_HTTP_URL=https://umbrel.tailc9398a.ts.net/janus
      - DISABLE_VIDEO_STREAMING=False
    depends_on:
      - db
      - redis
    volumes:
      - obico_data:/app/data
    restart: unless-stopped

  db:
    image: postgres:13
    container_name: obico-db
    environment:
      - POSTGRES_USER=obico
      - POSTGRES_PASSWORD=obico
      - POSTGRES_DB=obico
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:6
    container_name: obico-redis
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  db_data:
  obico_data:
  redis_data:
