[server]
url = http://192.168.100.105:3334

[moonraker]
host = 127.0.0.1
port = 7125

[webcam]
disable_video_streaming = False
# Integração com Janus para WebRTC
stream_mode = h264_transcode

[logging]
# Corrigido: "portainer" em vez de "porainer"
path = /home/portainer/printer_data/logs/moonraker-obico.log
level = INFO

[tunnel]
dest_host = 127.0.0.1
dest_port = 80
dest_is_ssl = False
