[server]
url = https://app.obico.io

[moonraker]
host = 127.0.0.1,1892.168.100.105
port = 7125

[webcam]
disable_video_streaming = False
# Esta linha abaixo ativa a integração com o Janus para WebRTC
stream_mode = h264_transcode

[logging]
path = /home/pi/printer_data/logs/moonraker-obico.log
level = INFO

[tunnel]
dest_host = 127.0.0.1,1892.168.100.105
dest_port = 80
dest_is_ssl = False

